    </div>
    <!--Close of the page-wrap-->

    <!--<footer id="footer" class="footer">
      <div class="container">
        <div class="text-center">
          Way To Go™ 2017
        </div>
      </div>
    </footer>-->
      <footer class="footer">
      <div class="container">
        <p class="text-muted"> Way To Go™ 2017</p>
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascript/login.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>