    </div>
    <!--Close of the page-wrap-->

    <!--<footer id="footer" class="footer">
      <div class="container">
        <div class="text-center">
          Way To Go™ 2017
        </div>
      </div>
    </footer>-->
      <footer class="footer">
      <div class="container">

         <div class="featuredLogos">
            <p>As featured in...</p>
        </div>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:100px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background:url('img/loading.gif') no-repeat 50% 50%;background-color:#000000;"></div>

      
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:100px;overflow:hidden;">
            <div>
                <a href="https://techcrunch.com/" target="_blank"><img data-u="image" src="assets/images/techcrunch-fl.png"></a>
            </div>
          
            <div>
                <a href="https://www.engadget.com/" target="_blank"><img data-u="image" src="assets/images/engadget-fl.png" />
                </a>
            </div>
            <div>
                <a href="http://mashable.com/" target="_blank"><img data-u="image" src="assets/images/mashable-fl.png" /></a>
            </div>

              <div>
                <a href="https://www.apple.com/" target="_blank"><img data-u="image" src="assets/images//apple-fl.png" /></a>
            </div>
        
            <div>
                <a href="https://www.theverge.com/" target="_blank"><img data-u="image" src="assets/images/theverge-fl.png" />
                </a>
            </div>
            <div>
                <a href="https://www.microsoft.com/en-us/" target="_blank"><img data-u="image" src="assets/images/microsoft-fl.png" />
                </a>
            </div>
            <div>
                <a href="http://www.techradar.com/" target="_blank"><img data-u="image" src="assets/images/techradar.png" />
                </a>
            </div>
            <div>
                <a href="http://gizmodo.com/" target="_blank"><img data-u="image" src="assets/images/gizmodo.png" />
                </a>
            </div>
        <!--     <a data-u="any" href="https://wordpress.org/plugins/jssor-slider/" style="display:none">wordpress slider</a> -->
        </div>
    </div>
        <!--<p class="text-muted"> Way To Go™ 2017</p>-->
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascript/login.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>