<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Way 2 Go</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Euphoria+Script|Josefin+Sans|Rouge+Script" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jssor-slider/25.0.8/jssor.slider.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/wishes.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/funeral-type.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/review.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/welcome.css">
  <link href="assets/css/album.css" rel="stylesheet">

</head>
<body>
<div class="page-wrap">

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/welcome"><img src ="assets/images/way2go-logo.png"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <% if (!currentUser) { %>
          <li>
            <a href="#" class="btn btn-link" id="login-button">Log In</a>
          </li>
          <li>
            <a href="#" class="btn btn-link" id="register-button">Register</a>
          </li>
            <% } else { %>
          <li>
            <a href="/welcome" class="btn btn-link">Welcome, <%= currentUser.first_name %>%></a>
          </li>
          <li>
            <a href="/logout" class="btn btn-link">Logout</a>
          </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- LOG IN Modal -->
  <div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/login" method="post">
            <div class="form-group">
              <label for="login-email" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="login-email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="login-password" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="login-password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <button type="submit" id="login-submit-button" class="btn btn-success">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- REGISTER Modal -->
  <div class="modal fade" id="register-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/register" method="post">
            <div class="form-group required">
              <label for="register-email" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-8 required-field">
                <label class="input-label">
                  <input type="email" required class="form-control" id="register-email" name="email" placeholder="Email">
                </label>
              </div>
            </div>
            <div class="form-group required">
              <label for="register-password" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-8 required-field">
                <label class="input-label">
                  <input type="password" required minlength="7" class="form-control" id="register-password" name="password" placeholder="Password">
                </label>
              </div>
            </div>
            <div class="form-group required">
              <label for="register-first-name" class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-8 required-field">
                <label class="input-label">
                  <input type="text" required class="form-control" id="register-first-name" name="first_name" placeholder="First Name">
                </label>
              </div>
            </div>
            <div class="form-group required">
              <label for="register-last-name" class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-8 required-field">
                <label class="input-label">
                  <input type="text" required class="form-control" id="register-last-name" name="last_name" placeholder="Last Name">
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <button type="submit" id="register-submit-button" class="btn btn-success">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="container message-display">
      <% if(success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span>&times;</span>
      </button>
        <%= success %>
    </div>
      <% } %>

      <% if(error && error.length > 0) { %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span>&times;</span>
      </button>
        <%= error %>
    </div>
      <% } %>
  </div>


