<% include partials/header %>

<link rel="stylesheet" type="text/css" href="./assets/css/background.css">

    <div class="container funeral-type-content">
        <div class="row">
            <div class="col-xs-2">
                <form action="/funeral-type" method="get">
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-link btn-lg ">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-8">
                <h1 class="text-center selection-title">Burned</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 class="panel-title">Cremation</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <% if (type && type === 'Cremation') { %>
                                    <img src="./assets/images/cremation-roll.png" alt="Cremation">
                                    <% } else { %>
                                    <img src="./assets/images/cremation-package.png" alt="Cremation">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>The cremation occurs in a crematory that is housed within a crematorium and comprises one or more furnaces. A cremator is an industrial furnace that is able to generate temperatures of 870–980 °C (1,600–1,800 °F) to ensure disintegration of the corpse. A crematorium may be part of a chapel or a funeral home or may be an independent facility or a service offered by a cemetery.</p>
                        <p>Modern cremator fuels include oil, natural gas, propane, and, in some areas like Hong Kong, coal gas. However, coal and coke were used until the early 1960s. Random fact.</p>
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Cremation"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 class="panel-title">Go like a Viking!</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <% if (type && type === 'Viking') { %>
                                    <img src="./assets/images/viking-roll.png" alt="Vikings">
                                    <% } else { %>
                                    <img src="./assets/images/viking-package.png" alt="Vikings">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>In Norse funerals, or the burial customs of Viking Age North Germanic Norsemen (early medieval Scandinavians), it was common to burn the corpse and the grave offerings on a pyre, in which the temperature reached 1,400 °C (2,550 °F)—much higher than modern crematorium furnaces attain. Only some incinerated fragments of metal and of human bones would remain. The pyre was constructed to make the pillar of smoke as massive as possible, in order to elevate the deceased to the afterlife.</p>
                        <p>You'll pretty much be going out in a massive bonfire.</p>
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Viking"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3 class="panel-title">Greek style</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <% if (type && type === 'Greek') { %>
                                    <img src="./assets/images/greek-roll.png" alt="Greek">
                                    <% } else { %>
                                    <img src="./assets/images/greek-package.png" alt="Greek">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>The practice of cremation on open fires was introduced to the Western world by the Greeks. Cremation was adopted to ensure soldiers slain in alien territory a homeland funeral attended by loved ones. Corpses were incinerated on the battlefield; then the ashes were gathered up and sent to the homeland for ceremonial entombment. Cremation became so closely associated with valour and manly virtue, patriotism, and military glory that it was regarded as the only fitting conclusion for an epic life.</p>
                        <p>Epic.</p>
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Greek"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>