<% include partials/header %>

    <div class="container funeral-type-content">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center selection-title">BURNED</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Cremation</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <img src="./assets/images/burning-feet-logo.png" alt="Cremation">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem eum itaque molestias necessitatibus nobis veritatis? Dicta ducimus ex fugiat in laboriosam, libero necessitatibus nostrum, optio perferendis quasi quidem veritatis.
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Cremation"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Go like a Viking!</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <img src="./assets/images/vikings-package.png" alt="Vikings">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem eum itaque molestias necessitatibus nobis veritatis? Dicta ducimus ex fugiat in laboriosam, libero necessitatibus nostrum, optio perferendis quasi quidem veritatis.
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Viking"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Greek style</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="thumbnail">
                                    <img src="./assets/images/greek-package.png" alt="Greek">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem eum itaque molestias necessitatibus nobis veritatis? Dicta ducimus ex fugiat in laboriosam, libero necessitatibus nostrum, optio perferendis quasi quidem veritatis.
                    </div>
                    <div class="panel-body">
                        <form action="/burned" method="post">
                            <input type="hidden" name="type" value="Greek"/>
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>