<% include partials/header %>

<div class="parent">
	<div class="textOverImage" 
	style="background-image:url(https://www.nature.com/article-assets/npg/nature/journal/v477/n7365/images/477415a-f1.2.jpg)"
	data-text="Burial 

	or interment is the ritual act of placing a dead person or animal, sometimes with objects, into the ground. This is accomplished by excavating a pit or trench, placing the deceased and objects in it, and covering it over. Humans have been burying their dead for at least 100,000 years. Burial is often seen as indicating respect for the dead.">

	</div>

	<div class="textOverImage"
		style = "background-image:url(https://s-media-cache-ak0.pinimg.com/736x/36/66/76/3666764312573a54adef888747d0c8f3.jpg)"
		data-text="Cremation

		 is the ritual act of placing a dead person or animal, sometimes with objects, into the ground. This is accomplished by excavating a pit or trench, placing the deceased and objects in it, and covering it over. Humans have been burying their dead for at least 100,000 years. Burial is often seen as indicating respect for the dead.">
	</div>
	</div>

<% include partials/footer %>