<% include partials/header %>

<link rel="stylesheet" type="text/css" href="./assets/css/background.css">

<div class="container funeral-type-content">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center selection-title">Funeral Type</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class="panel-title">Buried</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <% if (type && type === 'Buried') { %>
                                <img src="./assets/images/basic-roll.png" alt="Burial">
                                <% } else { %>
                                <img src="./assets/images/basic-package.png" alt="Burial">
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Burial is the ritual act of placing a dead person, sometimes with objects, into the ground. This is accomplished by excavating a pit or trench, placing the deceased and objects in it, and covering it over. Humans have been burying their dead for at least 100,000 years. Burial is often seen as indicating respect for the dead. It has been used to prevent the odor of decay, to give family members closure and prevent them from witnessing the decomposition of their loved ones, and in many cultures it has been seen as a necessary step for the deceased to enter the afterlife or to give back to the cycle of life.</p>
                    <p>When it comes to being put 6ft under it doesn't have to be boring. These options range from traditional to ancient burial traditions that have stood the test of time. Click here to see more options.</p>
                </div>
                <div class="panel-body">
                    <form action="/funeral-type" method="post">
                        <input type="hidden" name="type" value="Buried"/>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary">Select</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3 class="panel-title">Burned</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <% if (type && type === 'Burned') { %>
                                <img src="./assets/images/cremation-roll.png" alt="Roman">
                                <% } else { %>
                                <img src="./assets/images/cremation-package.png" alt="Roman">
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Cremation is the combustion, vaporization and oxidation of cadavers to basic chemical compounds, such as gases, ashes and mineral fragments retaining the appearance of dry bone. Cremation may serve as a funeral or post-funeral rite as an alternative to the interment of an intact dead body in a coffin, casket or shroud. Cremated remains (aka "cremains" or simply, "ashes"), which do not constitute a health risk, may be buried or interred in memorial sites or cemeteries, or they may be retained by relatives and dispersed in various ways. In many countries, cremation is usually done in a crematorium. Some countries, such as India and Nepal, prefer different methods, such as open-air cremation. Huh.</p>
                    <p>There are many different ways of being cremated, everything from cost effective traditional options to more theatrical ancient rituals. Click here to see more options.</p>
                </div>
                <div class="panel-body">
                    <form action="/funeral-type" method="post">
                        <input type="hidden" name="type" value="Burned"/>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary">Select</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>