<% include partials/header %>

<div class="container welcome-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="text-center">Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid aperiam autem blanditiis culpa cumque deleniti dignissimos dolorum fugit ipsa, minima modi nulla odit porro quas qui quo recusandae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid aperiam autem blanditiis culpa cumque deleniti dignissimos dolorum fugit ipsa, minima modi nulla odit porro quas qui quo recusandae.</p>
        <div class="panel-body">
          <form action="/funeral-type" method="get">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-primary">Get Started</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>