<% include partials/header %>

<link rel="stylesheet" type="text/css" href="./assets/css/background.css">

<div class="container welcome-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron welcome-jumbotron">
        <h1 class="text-center welcome-text">Welcome!</h1>
        <p>Way 2 go is here to help bridge the gap between your earthly departure and final resting place. We provide an easy and painless way to store all of your last wishes for your loves ones to obtain once you've gone to the other side.</p>
        <p>Follow our easy step by step guide to get started and have fun planning your way to go.</p>
        <div class="panel-body">
          <form action="/funeral-type" method="get">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-primary">Get Started</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>