<% include partials/header %>

<div class="container dynamic-form">
    <div class="row">
      <div class="col-xs-2">
          <% if (funeral_type) { %>
            <% if (funeral_type === 'Buried') { %>
        <form action="/buried" method="get">
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-link btn-lg ">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
          </div>
        </form>
            <% } else if (funeral_type === 'Burned') { %>
        <form action="/burned" method="get">
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-link btn-lg ">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
          </div>
        </form>
            <% } %>
          <% } %>
      </div>
      <div class="col-xs-8">
        <h1 class="text-center selection-title">WISHES</h1>
      </div>
    </div>
    <div class="row">
    <div class="control-group text-center" id="fields">
      <label class="control-label text-center" for="field1">Here's your chance to enter all of your requests and wishes! Let everyone know what song you want being played, your guests' dress code, who is and who isn't invited, or pretty much anything you want! It's your funeral after all...</label>
      <div class="row">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8">
          <div class="controls">
            <form role="form" autocomplete="off" action="/wishes" method="post">
              <div id="inputs-div">
                <div id="paper-top-background"></div>
                <% if (wishes) { %>
                  <% for (var i=0; i < wishes.length; i++) { %>
                    <div class="entry input-group col-xs-12">
                      <input class="form-control" name="fields[]" type="text" value="<%= wishes[i].wish %>" placeholder="Enter a wish" />
                      <span class="input-group-btn">
                        <button class="btn btn-danger btn-remove" type="button">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                      </span>
                    </div>
                  <% } %>
                <% } %>
                <div class="entry input-group col-xs-12">
                  <input class="form-control" name="fields[]" type="text" placeholder="Enter a wish" />
                  <span class="input-group-btn">
                    <button class="btn btn-success btn-add" type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </span>
                </div>
              </div>
              <div id="paper-bottom-background"></div>
              <div class="form-group text-center">
                <div class="col-xs-12">
                  <button type="submit" id="wishes-submit-button" class="btn btn-primary">Done!</button>
                </div>
              </div>
            </form>
            <br>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>