<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        YUOR WISHES GO HERE
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>