.review-content {
    margin-top: 20px;
}

.review-button {
    display: inline-block;
    padding: 0px;
}

.panel-heading h3 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}