/*Navigation Style*/
.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #222;
    border-bottom: 2px solid #080808;
}

.navbar-header img {
    width: 100%;
    border: 2px solid #080808;
    border-radius: 50%;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight:bold;
    color:#ffffff;
    text-transform: uppercase;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.header-content {
    text-align: center;
    margin: auto;
    width: 70%;
}

#header-text{
    font-family: 'Rouge Script', cursive, Helvetica, Roboto, Arial, sans-serif;
    font-size: 160px;
    margin-top: 100px;
    font-weight: 400;
    text-shadow:6px 6px 6px #000000;
}

#sub-text1{

   font-family: 'Josefin Sans', sans-serif;
   font-size: 30px;
   margin-bottom:300;
}


#sub-text{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 100px;
}

/* Set the fixed height of the footer here */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 175px;*/
    background-color: #222;
    border-top: #080808 2px solid;
    color: #fff;
    padding-bottom: 15px;
}

.text-muted {
    text-align:center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/******************************
 *  STYLES FOR FOOTER SLIDER  *
 ******************************/
#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 100px;
    overflow: hidden;
    visibility: hidden;
}

#slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 100px;
    overflow: hidden;
}

.featuredLogos {
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    font-family: "Gotham-Light", "Gotham Light", "Gotham", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    text-transform: uppercase;
}

/*******************************
 *  STYLES FOR REGISTER MODAL  *
 *******************************/
.form-group.required .required-field:after {
    content: "*";
    color: red;
}

label.input-label {
    width: 96%;
    font-weight: 400;
}

.modal-header h4 {
    font-size: 18pt;
}

/*********************
 *  LANDING CONTENT  *
 *********************/
#landing-content {
    margin-top: -20px;
    padding-bottom: 80px;
    background-color: black;
    color: white;
    /*background: linear-gradient(rgba(99, 100, 102, 0.7), rgba(48, 49, 51, 0.7)), url(../images/burial.gif) center no-repeat;*/
    /*background: linear-gradient(rgba(141, 13, 11, 0.7), rgba(48, 49, 51, 0.7)), url(../images/burial.gif) center no-repeat;*/
    background: linear-gradient(rgba(61, 33, 81, 0.7), rgba(48, 49, 51, 0.7)), url(../images/burial.gif) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 2px solid #080808;
}

#landing-content form {
    margin-top: 20px;
}

#landing-bottom-content .container {
    margin-top: 40px;
    margin-bottom: 110px;
}

#landing-bottom-content .col-sm-5 {
    padding: 20px 0px;
}

#landing-bottom-content img {
    width: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

h1{

  font-family: "Gotham-Light", "Gotham Light", "Gotham", Helvetica, Roboto, Arial, sans-serif;
  color:#000000;
}


#landing-bottom-content .column-text {
  font-family: "Gotham-Light", "Gotham Light", "Gotham", Helvetica, Roboto, Arial, sans-serif;
}

#landing-bottom-content .column-text div {
  font-size: 14pt;
}

#landing-bottom-content{
  padding:40px;
}

.message-display {
    position: fixed;
    width: 50%;
    left: 50%;
    top: 11%;
    margin-left: -25%;
    z-index: 3;
}

/**************************
 ***  LOGGED IN FOOTER  ***
 **************************/
.logged-in-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #222;
    border-top: #080808 2px solid;
    color: #fff;
    padding-top: 15px;
}

/*************************
 ***  RESPONSIVE CODE  ***
 *************************/
@media screen and (max-width: 480px) {
    #header-text {
        font-size: 70px;
        letter-spacing: 2px;
    }
}