/*Navigation Style*/
.navbar {

border-radius: 0px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    height: 100px;
}
/*Nav bar header*/
.navbar-header{
  padding:15px;
}

.navbar-inverse .navbar-nav>li>a{

  font-size:16px;
  font-weight:bold;
  color:#ffffff;

}

/*Logo*/
.navbar-brand>img {
    display: block;
    margin-top: -20px;
}
/*Nav bar links changed later*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
/*padding:10px;*/
margin-top:18px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background-color: #000000;
}

.text-muted {
  text-align:center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.form-group.required .required-field:after {
  content: "*";
  color: red;
}

label.input-label {
  width: 96%;
  font-weight: 400;
}
/*As Featured In Text*/
  .featuredLogos{
            color:#ffffff;
            text-align: center;
            font-weight:bold;
            font-family: Arial;
            font-size:16px;
            padding:15px;
        }