.welcome-content {
    margin-top: 45px;
}

.welcome-text {
    font-family: 'Rouge Script', cursive, Helvetica, Roboto, Arial, sans-serif;
    font-size: 120px !important;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000000;
}

h1.text-center.selection-title {
    font-family: 'Rouge Script', cursive, Helvetica, Roboto, Arial, sans-serif;
    font-size: 90px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000000;
}

.review-title > h1 {
    font-family: 'Rouge Script', cursive, Helvetica, Roboto, Arial, sans-serif;
    font-size: 60px;
    font-weight: 400;
    ext-shadow: 1px 1px 1px #000000;
}

.welcome-jumbotron {
    padding-top: 0px !important;
}